@import 'settings';
@import 'variables';
@import 'keyframes';
@import 'partials/alert-box';
@import 'partials/encrypt-form';
@import 'partials/browser-detect';
@import 'partials/files-table';
@import 'buttons';

.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu {

    float: right;

    .item {

        display: inline-block;
        padding: 10px 15px;        

        &__link {

            color: $color-primary;
            text-decoration: none;
            position: relative;

            &::after {

                position: absolute;
                width: 100%;
                height: 0px;
                content: '';
                top: 25px;
                left: 0px;
            }

            &:hover {

                &::after {
                    animation: show-menu-link .3s;                  
                    border-bottom: 5px solid $color-success;    
                }
            }
        }

        &.active {

            .item__link {

                &::after {
                    border-bottom: 5px solid $color-success;    
                }

                &:hover {

                    &::after {
                        animation: none;
                    }
                }
            }
        }
    }
}

.section {
    padding: 20px 10vw;
    border-bottom: 1px dashed #ababab;
}

.footer {
    font-weight: $font-light;
    font-size: $font-sm;
    text-align: center;
    margin: 20px 0;

    a {
        text-decoration: none;
        color: inherit;
    }
}