// Fonts

$font-light: 300;
$font-med: 400;
$font-bold: 700;

// Sizes



// Colors

$color-primary: rgb(49, 49, 49);
$color-secondary: #FFFFFF;
$color-info: #4d96e9;
$color-success: #45c96d;
$color-warning: #fac61d;
$color-error: #f53a62;