.alert-box {
    position: fixed;
    z-index: 100;
    display: block;
    width: 80vw;
    left: 50%;
    box-sizing: border-box;
    transition: .5s;
    transform: translateY(-150px);
    text-align: center;
    border: 1px solid #efefef;
    border-radius: 2px;
    margin: 0 auto;
    margin-left: -40vw;
    padding: 20px;

    &.show {
        transform: translateY(3vh);
    }
    &.success {
        background: #ACFA4B;
        color: #413632;
    }
    &.warning {
        background: #ffc380;
        color: #696969;
    }
    &.error {
        background: #D82934;
        color: #ede9e8;
    }
    &__title {
        font-weight: 900;
    }
}
